/* *{
  margin:0; padding:0; box-sizing:border-box;
}*/
body{
  /*background-image: linear-gradient(to right, #6b3074,#7268a6);*/
  display:flex;
  font-family: Arial, serif;
  font-size:16px;
  margin-top:0px;
}
.container{
  margin:0 auto;
  width: 500px;
}
#bill-calculator{
  background-color: lightblue;
  padding:20px;
  box-shadow: 10px 10px 5px darkgrey;
  border:1px solid dimgrey;
  margin-bottom:40px;
}

#result-container{
  border:1px darkred dashed;
  padding:20px;
  background-color: lightyellow;
}

h1{
  text-align: center;;
  padding:10px;
  margin:0 0 20px 0
}
.field-container{
  display:flex;
  justify-content: space-between;
  margin: 0 0 10px 0;
}

.field-container label{
  padding:10px;
}
.field-container input{
  border: 1px solid darkgrey;
  padding: 10px;
  display:block;
}

.button-container{
  text-align:center;
}
button{
  padding:10px;
  color: white;
  background-color:green;
  width:100px
  border-radius:8px;
  border:none;
  font-size: inherit;
}
button:hover{
  background-color:blue;
  color:white;
  cursor:pointer;
}

input:disabled{
  background: white;
}
