/* *{
  margin:0; padding:0; box-sizing:border-box;
}*/
body{
  /*background-image: linear-gradient(to right, #6b3074,#7268a6);*/
  display:flex;
  font-family: Arial, serif;
  font-size:16px;
  margin-top:0px;
  background-image: linear-gradient(30deg, #2b2d42, #d80032);
}
.container{
  margin:0 auto;
  width: 500px;
}
/*.main{
  background-color: red;
  width:600px
} */
#bill-calculator{
  background-color: 	#f8f8ff;
  padding:20px;
  box-shadow:inset 0, 2px, 5px black;
  border:inset;
  border-radius: 2rem;
  margin-bottom:40px;

}

#result-container{
  border:inset;
  padding:20px;
  background-color: 	#f8f8ff;
  border-radius:2rem;
  box-shadow:inset, 0, 2px, 5px, black
}

h1{
  text-align: center;;
  padding:10px;
  margin:0 0 20px 0
}
.field-container{
  display:flex;
  justify-content: space-between;
  margin: 0 0 10px 0;
}

.field-container label{
  padding:10px;
}
.field-container input{
  border: 1px solid darkgrey;
  padding: 10px;
  display:block;
}

.button-container{
  text-align:center;
}
button{
  padding:10px;
  color: white;
  background-color:green;
  width:100px
  border-radius:8px;
  border:none;
  font-size: inherit;
}
button:hover{
  background-color:blue;
  color:white;
  cursor:pointer;
}

input:disabled{
  background: white;
}
